<p>person works!</p>

<h1>Person List</h1>
<div class="row">
  <div class="col-6">
    <div *ngFor="let person of persons$ | async" class="m-3">
      <div class="card">
        <div class="card-body" (click)="onSearch(person.id)">
          {{person.firstName}} {{person.lastName}}
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Person List</h1>
<div class="row">
  <div class="col-6">
    <div *ngFor="let person of persons$ | async" class="m-3">
      <div class="card">
        <div class="card-body" (click)="onPersonSearch(person.id)">
          {{person.firstName}} {{person.lastName}}
        </div>
      </div>
    </div>
  </div>

  <div class="col" *ngIf="personById" class="border">
    <pre>{{personById.id}}</pre>
    <pre>{{personById.firstName}}</pre>
    <pre>{{personById.lastName}}</pre>
    <pre>{{personById.gender}}</pre>
    <pre>{{personById.email}}</pre>
    <pre>{{personById.phoneNumber}}</pre>
    <pre>{{personById.createdAt}}</pre>
    <pre>{{personById.referredBy}}</pre>
    <pre>{{personById.referrelCode}}</pre>
    <pre>{{personById.countryCode}}</pre>
    <pre>{{personById.emailVerfiyStatus}}</pre>
    <pre>{{personById.phoneVerfiyStatus}}</pre>
  </div>
</div>


